.all-oreach{
    /* margin-top: 50px;
    background-image: url(../img/empower/emp1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
    opacity: 0.8; */
}
.oreach{
  text-align: center;
  background-color: rgb(13, 37, 219);
  opacity: 0.6;
  transform: translateY(-100%);
  color: white;
  font-size: 35px;
  font-weight: 700;
  font-style: oblique;
  
}
.oreach h5{
    margin-top: -15px;
    font-size: 30px;
    color: white;
}
.oreach p{
    margin-top: -10px;
    font-size: 30px;
}
.poreach img{
    object-fit: cover;
    width: 100%;
    height: 50vw;
}
/* hero end */

/* web dev start */
.web1 img{
    width: 35rem;
    height: 25rem;
}
.component6 video{
    object-fit: cover;
}
.component4 video{
    object-fit: cover;
    width: 40vw;
    height: 25vw;
}
.all-web{
    gap: 5%;
    padding: 30px;
    border-radius: 16px;
    color: white;
    background-color: rgb(60, 75, 187);
    padding-bottom: 2rem;
}
.component1{
    margin-top: -8rem;
    margin-bottom: 2rem;
}
.component2{
    margin-bottom: 2rem;
}
.component3{
    margin-bottom: 2rem;
}
.component4{
    margin-bottom: 2rem;
}
.component5{
    margin-bottom: 2rem;
}
.component6{
    margin-bottom: 2rem;
}
.component7{
    margin-bottom: 2rem;
}
.web2{
    line-height: 1.5rem;
}
.web2 h1{
    font-size: 30px;
    font-style: oblique;
    margin-bottom: 15px;
}
.web2 h2{
    font-size: larger;
    margin-bottom: 15px;
}
.web2 p{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.web2 a{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 16px;
    text-decoration: none;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.web2 a:hover{
    background-color: whitesmoke;
    border: 2px solid black;
    transition: 0.40s ease-in-out;
    color: black;
}
.ture1 img{
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: -1rem;
}
.ture2 img{
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 1rem;
}
.ture3 img{
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 0;
}
.web1{
    gap: 3%;    
}
/* web dev end */

